<div class="container">
<div class= "hometext">
    
      <h2>Lecture Slides</h2>
      <p><b><%= link_to "Command Line", asset_path("CommandLine.pdf"), target: "_blank" %></b></p>
      <p><b><%= link_to "Ruby Data Types", asset_path("RubyData.pdf"), target: "_blank" %></b></p>
      <p><b><%= link_to "Ruby Syntax", asset_path("RubySyntax.pdf"), target: "_blank" %></b></p>
    
      <h2>Quizzes</h2>
      <p><b><%= link_to "Quiz 1", asset_path("404.pdf"), target: "_blank" %></b></p>
    
      <h2>Homework</h2>
      <p><b><%= link_to "Home Work 1 Feedback", asset_path("404HW.pdf"), target: "_blank" %></b></p>
    
      <h2>Surveys</h2>
      <a href="https://domistation.typeform.com/to/zjftdP"target="blank">Take Your Daily Survey</a> 
    
    
     <br>
     <br>

	  <div class="copyright">
		  <p>Copyright  The Stacks Team. All rights reserved.</p>
        </div>
</div>
 </div> 