<div class="logo">
		<%= image_tag('TheStacks_Logo.svg', alt:'The Stacks Logo', class: 'logo') %> 
		</div>  

	<div class="container">
		
		
			<div class= "hometext">
 <div class= "pagetitle">           
<h1>Welcome, student!</h1>      
</div>     
            <div class="container-fluid">
   <div class="row">
      <div class="col-xs-12">
         <div class="col-xs-2">
            <%= link_to root_path do %>
            <i class="fa fa-angle-left icon-back color-black" aria-hidden="true"></i>
            <% end %>
         </div>
      </div>
   </div>
</div>
<div class="">
   
      <div id="error_explanation">
         <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
         <ul>
            <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
         </ul>
      </div>
      <% end %>

    <% form_for @user %>
      <div class="form-group">
         <label >Username</label>
         <%= f.text_field :username, placeholder: "Username", value:"#{current_user.first_name.capitalize} #{current_user.name.capitalize}", class:"form-control profile name" %>
      </div>
      <div class="form-group">
         <label>Password</label>
         <%= f.text_field :password, placeholder: "password"%>
      </div>
      <div class="form-group">
         <label>Email</label>
         <%= f.text_field :email, placeholder: "Email", value:"#{current_user.email}"%>
      </div>
      <div class="form-group">
         <label>Confirm Email</label>
         <%= f.text_field :confirm_email, placeholder: "Confirm Email", value:"#{current_user.email}"%>
      </div>
      <div class="form-group">
         <label>Class ID</label>
         <%= f.text_field :class_id, placeholder: "class id", value:"#{current_user.class_id}"%>
      </div>
      <div class="col-xs-6 push-xs-3">
         <%= f.submit "GUARDAR", class: "btn btn-register btn-orange btn-block" %>
      </div>
     
        <div class="clearfix"></div>
     <div class= copyright>
    <p>Copyright The Stacks Team. All rights reserved</p>
    </div>
   </div>
</div>

		    </div>
        