<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @dashboard.post %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @dashboard.comments %>
</p>

<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboard_path %>
