<!-- add navigation links to this file -->
<!-- Favicon -->
<!-- 	<link rel="shortcut icon" type="image/jpg" href="/favicon.ico"/>
	<link rel="shortcut icon" type="image/jpg" href="../final_project/app/assets/images/favicon.ico"/> -->

<!-- add navigation links to this file -->
<div class="collapse.in navbar-collapse.in" id="navbarSupportedContent">
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 <ul class="nav navbar-nav">

	
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >The Stacks</a>
     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
         <li><a href="#">Lecture Slides</a></li>
         <li><a href="#">Resource Library</a></li>
         <li><a href="#">Videos</a></li>
         <li><a href="#">Professional Development</a></li>
         <li><a href="#">Daily Bite</a></li>

     </ul>
</li>
       
        <li><%= link_to "Basecamp", dashboards_path %></li>

        <li><a href="#">DMs</a></li>
        <li><a href="#">Surveys</a></li>
        <li><a href="#">Newsfeed</a></li>
        <li><%= link_to "About Us", team_path %></li>
     <ul class="nav-list">
        <% if user_signed_in? %>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "link" %></li>
        <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path, class: "link" %></li>
            <li><%= link_to "Log In", new_user_session_path, class: "link" %></li>
        <% end %>
        </ul>
      </ul>
      </div>
    </div>
					